/* 引入配色文件 */
@import url("style/theme-setting.css");
/* 给网址链接设置颜色 */
/* @import url("style/link-icon-color.css"); */

@import url(./style/elements/button.css);
@import url(./style/elements/card.css);
@import url(./style/elements/color.css);
@import url(./style/elements/emphasis.css);
@import url(./style/elements/text-field.css);

@import url(./style/layout/breadcrumb.css);
@import url(./style/layout/dock.css);
@import url(./style/layout/file-tree.css);
@import url(./style/layout/pdf.css);
@import url(./style/layout/protyle-background.css);
@import url(./style/layout/search.css);
@import url(./style/layout/setting.css);
@import url(./style/layout/tab-bar.css);

@import url(./style/wysiwyg/block-ref.css);
@import url(./style/wysiwyg/bq.css);
@import url(./style/wysiwyg/code-block.css);
@import url(./style/wysiwyg/fold-block.css);
@import url(./style/wysiwyg/heading.css);
@import url(./style/wysiwyg/hyper-link.css);
@import url(./style/wysiwyg/image.css);
@import url(./style/wysiwyg/inline.css);
@import url(./style/wysiwyg/list.css);
@import url(./style/wysiwyg/query-embed.css);
@import url(./style/wysiwyg/super-block.css);
@import url(./style/wysiwyg/table.css);
@import url(./style/wysiwyg/tags.css);

/* ————————————————————所有边距初始化———————————————————— */
* {
    margin: 0px;
    padding: 0px;
}

/* ————————————————————设置界面字体大小，不包括正文，正文字体大小在编辑器那里选择———————————————————— */
body {
    font-size: 15.5px;
}

/* ----------------------------------------------------------设置主要背景色------------------------------------------------------- */

/* ————————————————————文档树、大纲、反向链接的背景颜色 */
.layout-tab-container:not(.fn_flex-1) {
    background: var(--b3-theme-background-jianbian);
}


/* ————————————————————文档树、大纲、反向链接顶部的背景颜色 */
.block__icons {
    background-color: transparent;
    border-bottom: var(--b3-border-dashed);
    padding: 1px 8px;
    box-sizing: border-box;
    height: 33px;
}

.search__header .block__icons {
    border-bottom: none
}

/* ----------------------------------------------------------设置主要背景色 END------------------------------------------------------- */
/* -----------------------------------------------------------取消文档树、大纲、反向链接左边的icon，感觉显示重复了 */
.block__logo svg {
    display: none;
}


/* --------------------------------------------------鼠标样式----------------------------------------------- */
/* ——————————————————————鼠标光标选中文本样式———————————————————————— */
*:not(.pdfViewer)::selection {
    background-color: var(--b3-theme-primary-lightest);
}

/* ————————————————————————鼠标划选区域————————————————————————————*/
.protyle-select {
    /* background-color: var(--b3-theme-tm1) !important; */
    background-color: transparent !important;
}


/* ————————————————————————————选中块—————————————————————————————— */
.protyle-wysiwyg--select,
.protyle-wysiwyg--select .hljs {
    background-color: var(--b3-theme-hover2) !important;
    /* background-color: red !important; */
}

/* --------------------------------------------------鼠标样式 END----------------------------------------------- */

/* --------------------------------------------------鼠标选中文本后弹出的工具栏样式------------------------------------- */
.protyle-toolbar {
    background-color: var(--b3-theme-background2);
    box-shadow: var(--b3-dialog-shadow);
    border-radius: var(--b3-border-radius-noraml);
}

.protyle-toolbar__item {
    color: var(--b3-font-color-gray);
}

.protyle-toolbar__item:hover:not(.protyle-toolbar__item:focus) {
    color: var(--b3-font-color-hover);
    background-color: var(--b3-theme-hover-gray);
    border-radius: var(--b3-border-radius-noraml);
}

.protyle-toolbar__item--current {
    color: var(--b3-theme-primary) !important;
    background-color: var(--b3-theme-tm1) !important;
    border-radius: var(--b3-border-radius-noraml);
}

/* --------------------------------------------------鼠标选中文本后弹出的工具栏样式 END------------------------------------- */

/* ------------------------------------------------更改空行提示----------------------------------------- */
.protyle-wysiwyg [data-node-id]:not(.code-block)>[spellcheck="false"]:focus:empty:after {
    content: "输入内容" !important;
    color: var(--b3-font-color-empty);
}

.protyle-wysiwyg [data-node-id] [spellcheck="false"]:empty:after {
    color: inherit;
    opacity: 0.5;
}

/* 空列表出现提示 */
.protyle-wysiwyg [data-subtype="t"]>.li>.p:nth-of-type(2)>[spellcheck="false"]:empty:after {
    content: "待办事项";
    color: var(--b3-font-color-empty);
}

.protyle-wysiwyg [data-subtype="u"]>.li>.p:nth-of-type(2)>[spellcheck="false"]:empty:after,
.protyle-wysiwyg [data-subtype="o"]>.li>.p:nth-of-type(2)>[spellcheck="false"]:empty:after {
    content: "列表";
    color: var(--b3-font-color-empty);
}

/* ------------------------------------------------更改空行提示 END----------------------------------------- */
/* ----------------------------------------------------块添加圆角------------------------------------------- */
.protyle-wysiwyg [data-node-id] {
    border-radius: var(--b3-border-radius-none);
}

/* ----------------------------------------------------块添加圆角 END------------------------------------------- */

/* ——————————————————————————————点击文档树emoji不弹出修改窗口—————————————————————————— */
span.b3-list-item__icon.b3-tooltips.b3-tooltips__n {
    pointer-events: none;
}


/* ---------------------------左上方点击更多按钮弹出的选择菜单相关设置----------------------- */
.b3-menu,
.b3-menu .b3-menu__submenu {
    border-radius: var(--b3-border-radius-noraml);
    /* padding: 6px 6px 6px; */
    background-color: var(--b3-menu-background);
    padding: 4px;
}

.b3-menu .b3-menu__submenu {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 6px 5px;
}

/* 鼠标悬浮都是圆角 */
button.b3-menu__item:hover {
    border-radius: var(--b3-border-radius-noraml);
}

/* --------------------------------------------------“更多”按钮...hover时的背景颜色------------------------------------------------ */
.b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom),
.b3-menu__item--current,
.b3-menu__icon--current {
    color: var(--b3-theme-primary);
    background-color: var(--b3-theme-tm1);
}

.b3-menu__item:hover .b3-menu__icon {
    color: var(--b3-theme-primary);
}

/* ------------------给“更多”按钮...弹出的小面板设置和文档树一样的背景色 ------------*/
/* 给“更多”按钮弹出的面板设置上下的内边距 */
/* .b3-menu, .b3-menu .b3-menu__submenu {
    background-color: var(--b3-theme-background2);
    padding: 5px 0px;
} */

/* 给每个条目设置更高的行高 */
.b3-menu .b3-menu__item {
    background-color: var(--b3-theme-background2);
    line-height: 35px !important;
}

/* --------------------------------------------------“更多”按钮...hover时的背景颜色 END--------------------------------------- */

/* ---------------------------------------自定义13种背景样式，前7种为7种彩虹色----------------------------------------- */
/* ———————————————为所有的字体样式设置统一的圆角，看起来更好看——————————————————— */
.b3-typography strong,
.protyle-wysiwyg strong {
    color: var(--b3-protyle-inline-strong-color);
    margin: 0px 0px !important;
    font-weight: 600 !important;
    border-radius: var(--b3-border-radius-noraml);
}


/* ——————————————————————————文档标题样式—————————————————————————— */
.protyle-title__input {
    background-color: transparent;
    padding-left: 0px;
    margin-left: 0px;
}

/* ---------------------------设置页面格子背景-------------------------------------------------------- */
/* 格子背景（适合light主题，其他主题需要重新设置颜色 */
.protyle-content {
    background-image: var(--b3-theme-background-gezi);
    background-size: 30px 30px;
    background-position: 50% center;
    /* 可以决定格子背景是否跟着正文一起滚动 */
    /* background-attachment: local; */
    /* 页面平滑滚动，不再傻快傻快 */
    /* scroll-behavior: smooth; */
    text-align: justify;
}


/* .protyle-content {
    background-color: #faf8df !important;
} */

/* 对README文件也设置格子背景 */
.config-bazaar__readme .item__main {
    background-image: var(--b3-theme-background-gezi);
    background-size: 30px 30px;
    background-position: 50% center;
    text-align: justify;
    border: var(--b3-border-gezi);
}

/* 圆点背景 */
/* .protyle-content {
    background: white;
    background-image:
        linear-gradient(white 28px, transparent 0),
        linear-gradient(90deg, rgba(60, 10, 30, 0.3) 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
    background-attachment: local;
} */

/* 横线背景 */
/* .protyle-content {
    background-image: linear-gradient(1turn, rgba(60, 10, 30, 0.09) 2%, transparent 0px);
    background-size: 40px 40px !important;
    background-position: 50% center;
} */

/* ---------------------------设置页面格子背景END----------------------------------------------------- */
/* -------------------------------无序列表前的小竖线颜色-------------------------------------------- */
/*.protyle-wysiwyg [data-node-id].li>[data-node-id]:before {
    content: "";
    position: absolute;
    border-left: var(--b3-border-wider);
    top: 4px;
    left: -18px;
    z-index: 3;
}*/

/* ---------------------给有颜色背景的块设置前面无序列表的样式---------------- */
.list[style*="background-color: var(--b3-font-background"] .li>:before {
    border-color: #00000033 !important;
}

/* ————————————————————缩短嵌入块中小竖线的高度———————————————————— */
.render-node div.list:before {
    top: -10px !important;
}

/* -------------------------------无序列表前的小竖线颜色 END-------------------------------------------- */





/* -------------------------------------------------公式相关设置--------------------------------------------- */
/* 更改公式字体 */
/* .katex {
    text-align: left;
    font-family: 'Times New Roman', "屏显臻宋" !important;
} */

/* 公式居左对齐 */
/* .b3-typography .katex-display>.katex>.katex-html, .protyle-wysiwyg .katex-display>.katex>.katex-html {
    text-align: left;
} */

/* -------------------------------------------------公式相关设置--------------------------------------------- */

/* --------------------------------将'/'弹出的选择窗口分为4栏，便于直观进行选择（分栏）---------------------------------------- */
.b3-menu.b3-list.b3-list--background {
    /*column-count: auto;
    column-width: 148px !important;
    column-gap: 5px;
    min-width: 50vw !important;
    max-height: 480px !important;*/
    border: var(--b3-border-column);
    padding: 4px;
}

/* 设置项目之间的分割线颜色 */
.b3-menu.b3-list.b3-list--background .b3-menu__separator {
    background-color: var(--b3-theme-primary);
    height: 0.05em;
}


/* ————————————————————调整挂件和模板窗口的分栏效果，仍旧分为4栏—————————————————————————————— */
.b3-list.fn__flex-1.b3-list--background:not(ul.b3-list.b3-list--background.fn__flex-1, div#globalSearchList) {
    /*column-count: 4;
    column-gap: 5px;
    min-width: 50vw !important;*/
    font-size: 90%;
    /* border: 0.2em solid #ffffff4d; */
    border: var(--b3-border-column-item);
}

/* ————————————————————调整emoji窗口的选择效果，向右拉动滚动条查看所有emoji———————————————————— */
/* 控制整个表情面板是左右滑动而不是上下滑动 */
.b3-menu.b3-list.b3-list--background .emojis__panel {
    overflow: inherit !important;
}

/* 控制表情的内容能够正常显示而不是折叠 */
.b3-menu.b3-list.b3-list--background .emojis__content {
    display: block !important;
}

/* 去掉模板搜索中的空隙，修复bug */
.protyle-util .b3-list-item {
    padding: 0px;
    border-radius: var(--b3-border-radius-noraml);
}

.b3-list.fn__flex-1.b3-list--background {
    padding: 4px 8px;
}

/* --------------------------------将'/'弹出的选择窗口分为4栏 END-------------------------------------------------- */
/* -----------------------------------------------------------小细节----------------------------------------------------- */
/* ————————————————————设置数学公式块等编辑器左上角和右上角为直角———————————————————— */
textarea.b3-text-field.b3-text-field--text.fn__block {
    border-radius: var(--b3-border-radius-math);
}

/* 调整数学公式块的背景颜色 */
/* .render-node:hover {
    background-color: #fffbe4;
} */

/* 调整内容中标题左侧文档图标大小 */
.protyle-title.protyle-wysiwyg--attr span svg {
    height: 20px;
    width: 20px;
    float: left;
}

/* 块标提示不被窗口线遮挡 */
.protyle-gutters {
    z-index: 3;
}

/* ————————————————————给markmap挂件增加边框———————————————————— */
/* iframe[data-src="http://127.0.0.1:6806/widgets/cc-markmap"] {
    outline: var(--b3-border-dashed-gray-wider);
    background-color: var(--b3-theme-background);
} */

/* —————————————————————设置上标和下标的颜色———————————————————— */
sub,
sup {
    color: var(--b3-theme-sub-color);
}



/* ————————————————————设置滚动条样式——————————————————__ */
::-webkit-scrollbar-thumb {
    background-color: var(--b3-scroll-color);
    border-radius: var(--b3-border-radius-half-round);
}

/* ————————————————————修改滚动条宽度———————————————————— */
::-webkit-scrollbar {
    width: 7px;
}

/* 文档树滚动条，鼠标悬浮时才显示 */
.fn__flex-1::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.fn__flex-1:hover::-webkit-scrollbar-thumb {
    background-color: var(--b3-scroll-color);
}


/* ————————————————————大纲等文字显示主题色———————————————————— */
.block__logo {
    font-weight: 600;
    color: var(--b3-menu-highlight-focus-color);
}

/* ————————————————————去掉软件的边框线———————————————————— */
body.body--win32 {
    border: none !important;
}

/* ————————————————————账号-续订价格那里的设置———————————————————— */
.config-account__center--text .b3-button--outline:hover {
    color: inherit;
    background-color: inherit;
}

/* ————————————————————表单设置不能拖拽缩放———————————————————— */
textarea.b3-text-field.fn__flex-1 {
    border: 1px solid transparent;
    resize: none;
}

/* 取消集市里边主题预览图鼠标悬浮 */
.b3-card:hover {
    background-color: inherit !important;
    box-shadow: var(--b3-point-shadow) !important;
    transform: none !important;
}


/* 修改文档标题右侧的引用计数样式 */
/* .counter, .protyle-attr--refcount {
    color: var(--b3-theme-primary);
    background-color: transparent;
    border: var(--b3-border-normal);
    border-radius: 2px;
    padding: 0.1em 0.2em;
    min-width: 1em;
    text-align: center;
} */

/* 禁止编辑 */
.protyle-wysiwyg[custom-f~=no] {
    pointer-events: none;
}

.protyle-wysiwyg[data-node-id][custom-f~=no] {
    pointer-events: none;
}

/* .protyle-wysiwyg:read-only {
    text-align: justify;
} */


/* 修改批注样式 */
strong[style*="quote"] {
    background-color: rgba(255, 212, 0, 0.16);
    border: 1px solid rgba(255, 212, 0, 0.16);
    border-bottom: 1px solid #ffd400;
    border-radius: 0px;
    font-weight: normal !important;
}

/* strong[style*="quote"]::after {
    display: inline-block;
    position: relative;
    content: "↓";
    font-size: 0.6em;
    top: -0.5em;
    right: 0;
    color: var(--b3-font-color3);
} */


/* 设置4种样式的格式 */
.p[data-node-id][data-type="NodeParagraph"][style*="background-color: var(--b3-card-"],
.list[style*="background-color: var(--b3-card-"] {
    padding: 16px 8px;
}

.p[data-node-id][data-type="NodeParagraph"][style*="background-color: var(--b3-card-"]::before,
.list[style*="background-color: var(--b3-card-"]::before {
    content: url(src/pin.svg);
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 2;
}

/* 4种样式和13种背景中间的引用设置透明度 */
.protyle-wysiwyg [style*="background-color"] .bq,
.protyle-wysiwyg [style*="background-color"] .code-block,
.protyle-wysiwyg [style*="background-color"] .render-node,
.protyle-wysiwyg [style*="background-color"] tbody tr {
    background-color: var(--b3-theme-background-tm) !important;
}

/* -----------------------------------------------------到此为止结束-------------------------------------------- */
/* -----------------------------------------------------到此为止结束-------------------------------------------- */
/* -----------------------------------------------------到此为止结束-------------------------------------------- */

/* 原自动编号, ./style/headline-auto-number.css */




/* 设置导出样式 */
@media print {
    :root {
        font-family: "仓耳今楷03";
    }

    div.hr>div {
        border-color: transparent !important;
    }

    .h1 {
        page-break-before: always;
    }

    div.hr {
        page-break-after: always;
    }

    .list[custom-f="dt"][data-node-id] .protyle-action svg {
        display: none !important;
    }

    .b3-typography [custom-f~="dt"] [data-subtype="o"][data-node-id].li>div.protyle-action,
    .protyle-content [custom-f~="dt"] [data-subtype="o"][data-node-id].li>div.protyle-action {
        display: none !important;
    }

    .list[custom-f="dt"][data-node-id] .protyle-action {
        display: none !important;
    }
}


/*开始维修！*/
/*修改变量；剔除过时的自定义属性、链接图标相关代码，有需请下载插件。*/


/*状态栏插件*/
#status .toolbar__item span {
    margin: 3px 10px 0px -30px !important;
    font-size: 1px !important;
    padding: 10px;
    color: transparent;
}

/*字色面板*/
.protyle-util .color__square,
.pdf__util.b3-menu .color__square {
    transform: scale(1.1);
    border-radius: 0px;
    margin: 0px 3px
}

.protyle-util .color__square[data-type="backgroundColor"] {
    border-radius: 100px
}

.b3-typography s,
.b3-typography span[data-type~=s],
.protyle-wysiwyg s,
.protyle-wysiwyg span[data-type~=s] {
    color: inherit;
    opacity: 0.6;
}

/*集市*/
.b3-card--wrap,
.b3-card {
    box-shadow: unset;
    border: 1px solid gray
}

.b3-card--wrap:hover,
.b3-card:hover {
    box-shadow: unset;
    border: 1px solid var(--b3-theme-primary)
}

/*备注*/
.protyle-util .b3-text-field.b3-text-field--text.fn__block {
    min-height: 200px !important;
}

/*修复图片*/
.img .protyle-icons * {
    border-radius: 0px !important;
}



/*修数据库*/
.av__row,
.av__row--add {
    background-color: var(--b3-theme-background2)
}

[data-type="pin"]:hover svg,
[data-type="pin"].block__icon--active svg,
#pinWindow:hover svg,
#pinWindow.toolbar__item--active svg {
    transform: rotate(45deg);
    transition: all 100ms;
    color: var(--b3-theme-primary);
}

[data-type="pin"] svg,
#pinWindow svg {
    transition: all 200ms
}

.av__title {
    color: var(--b3-protyle-inline-blockref-color);
    font-weight: bold
}

.av__header .item {
    background-color: transparent;
    border-top: 3px solid var(--b3-protyle-inline-blockref-color) !important;
}


.custom-attr .b3-label.b3-label--noborder {
    border-bottom: var(--b3-border-dashed);
    padding-bottom: 0px
}

/*分割线*/
.protyle-wysiwyg [data-node-id].hr>div:after {
    border-bottom: 2px dashed var(--b3-border-color1);
    background-color: transparent;
    top: 11px
}


.protyle-hint.b3-list--background {
    background: var(--b3-menu-background) !important
}

.protyle-wysiwyg [data-node-id].li:before {
    border-left: var(--b3-border-wider);
}


.layout-tab-container.fn__flex-1 .card__main .block__icons {
    margin-top: -5px;
    margin-bottom: -10px
}

/*.card__block--hidemark span[data-type~="mark"]{color:transparent !important}
.card__block--hidemark span[data-type~="mark"]:hover{background-color:transparent !important;color:var(--b3-theme-on-background) !important}*/
li.item.item--pin:not(.item--focus):before {
    content: "";
    content: url("src/pin.svg");
    position: absolute;
    right: 5px;
    top: 0px;
    width: 12px;
    height: 12px;
    opacity: 0.3;
    filter: grayscale(100%);
}

li.item.item--pin.item--focus:before {
    content: "";
    content: url("src/pin.svg") !important;
    position: absolute;
    right: 5px;
    top: 0px;
    width: 12px;
    height: 12px;
}

.block__edit.fn__flex-1.protyle {
    overflow-y: hidden
}

.block__edit.fn__flex-1.protyle .protyle-wysiwyg.protyle-wysiwyg--attr {
    padding: 5px 15px 0px 8px !important;
}

.block__popover--open .block__icons {
    min-height: 32px
}

.fullscreen {
    z-index: 9
}

:has(.fullscreen) .status {
    z-index: 10;
    opacity: 0;
    transition: all 300ms
}

:has(.fullscreen) .status:hover {
    opacity: 1;
    transition: all 300ms
}

.b3-typography mark,
.b3-typography span[data-type~=mark],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark] {
    color: var(--b3-protyle-inline-mark-color) !important
}

.pdf__outer .textLayer,
.pdf__outer .pdf__resize {
    mix-blend-mode: unset
}

.pdf__outer--dark .textLayer {
    background-color: #3f414a70
}

.pdf__rect>div {
    mix-blend-mode: multiply;
}



.layout__resize--lr:after,
.layout__resize:after {
    background-color: #cfcece4d;
}

.status {
    border-top: var(--b3-border-normal)
}

.toolbar {
    border-bottom: var(--b3-border-normal)
}


.protyle-wysiwyg [data-node-id] {
    border-radius: var(--b3-border-radius-noraml);
}



/*.backlinkMList.fn__flex-1 .protyle-content,.backlinkList.fn__flex-1 .protyle-content{padding-top:0px}*/

